
.default-color0.chart-area-symbol { -fx-background-color: transparent, transparent;}
.default-color1.chart-area-symbol { -fx-background-color: transparent, transparent;}
.default-color2.chart-area-symbol { -fx-background-color: transparent, transparent;}

.default-color0.chart-series-area-line { -fx-stroke: black; -fx-stroke-width: 2 }

.default-color0.chart-series-area-fill { -fx-fill: transparent; }
.default-color1.chart-series-area-fill { -fx-fill: rgba(255, 0, 0, .5) }
.default-color2.chart-series-area-fill { -fx-fill: rgba(255, 0, 0, .5) }



 .axis-label {
 	
 	-fx-font-size: 1.6em;
 	
 }
 .axis {
 	-fx-tick-label-font-size: 1.5em
 }