
.default-color0.chart-area-symbol { -fx-background-color: transparent, transparent;}
.default-color1.chart-area-symbol { -fx-background-color: transparent, transparent;}
.default-color2.chart-area-symbol { -fx-background-color: transparent, transparent;}

.default-color0.chart-series-area-line { -fx-stroke: blue; }

.default-color0.chart-series-area-fill { -fx-fill: transparent; }
.default-color1.chart-series-area-fill { -fx-fill: rgba(0, 0, 255, .5); }
.default-color2.chart-series-area-fill { -fx-fill: rgba(0, 0, 255, .5); }

 .axis-label {
 	
 	-fx-font-size: 1.6em;
 	
 }
 .axis {
 	-fx-tick-label-font-size: 1.5em
 }